Brotli==1.0.9
ConfigParser==7.0.0
cryptography==42.0.2
Cython==3.0.8
dl==0.1.0
docutils==0.21.2
haversine==2.8.1
HTMLParser==0.0.2
importlib_metadata==7.0.1
keyring==23.13.1
lockfile==0.12.2
lxml==5.2.2
numpy==1.26.4
ordereddict==1.1
ortools==9.10.4067
pandas==2.2.2
protobuf==5.27.1
pyOpenSSL==24.1.0
scipy==1.13.1
thread==2.0.3
toml==0.10.2
tornado==6.3.3
xmlrpclib==1.0.1
zipp==3.17.0
