.nav {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

.nav__links {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
}

.nav__item {
  margin: 0px;
  padding: 0px;
  border: none;
}

.nav__link {
  color: #f5f5f7;
  text-decoration: none;
  font-size: 10px;
  margin: 0px;
  padding: 25px;
  background-color: #355847;
  height: 100%;
  border: none;
}

.nav__link:hover {
  color: #0c1821;
  background-color: #e78895;
}

.nav__toggle {
  display: none;
  background-color: #eee0cb;
  padding: 0;
  border: none;
  border-radius: 10px;
  width: 44px;
  height: 44px;
  cursor: pointer;
  position: absolute;
  top: 18px;
  right: 2px;
}

.nav__toggle-line {
  display: none;
  width: 28px;
  height: 2px;
  border-radius: 1px;
  background-color: #000;
  position: absolute;
  right: 10px;
  pointer-events: none;
  z-index: 999;
  transition: 0.5s;
}

.nav__toggle-line_top {
  top: 34px;
}

.nav__toggle-line_bottom {
  top: 44px;
}

@media (max-width: 700px) {
  .nav__toggle {
    display: block;
  }

  .nav__links {
    display: none;
  }

  .nav__links_open {
    display: flex;
  }

  .nav__links_closed {
    display: none;
  }

  .nav__close-open {
    display: block;
  }

  .nav__toggle-line {
    display: block;
  }

  .nav__toggle-line_top-rotate {
    transform: translateY(5px) rotate(45deg);
  }

  .nav__toggle-line_bottom-rotate {
    transform: translateY(-5px) rotate(-45deg);
  }
}
