.tunes {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
  background-color: #e78895;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}
.tunes__container {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 100px 10px;
}
.tunes__title {
  font-family: "Times New Romans", serif;
  font-size: 3rem;
  text-align: center;
  color: #0c1821;
  margin: 0px;
  margin-bottom: 25px;
  z-index: 1;
}
.tunes__circle-big {
  position: absolute;
  top: -50px;
  left: 200px;
  width: 400px;
  height: 400px;
  background-color: #f5f5f7;
  border-radius: 50%;
  margin: 0px;
  z-index: 0;
}
.tunes__circle-small {
  position: absolute;
  bottom: 50px;
  left: 20px;
  width: 200px;
  height: 200px;
  background-color: #ccc9dc;
  border-radius: 50%;
  margin: 0px;
  z-index: 0;
}
.tunes__arrow {
  position: absolute;
  bottom: 50px;
  right: 20px;
  width: 500px;
  height: 500px;
  margin: 0px;
  z-index: 0;
  transform: rotate(-10deg);
}
.tunes__description {
  font-family: "Inter", sans-serif;
  font-size: 1.2rem;
  text-align: center;
  color: #0c1821;
  margin: 0px;
  margin-bottom: 35px;
  z-index: 1;
}
.tunes__videos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
.tunes__video {
  position: relative;
  max-width: 100%;
  width: 560px;
  height: 315px;
  z-index: 1;
}
@media (max-width: 700px) {
  .suggest__title {
    font-size: 1.2rem;
    margin-bottom: 20px;
  }
  .tunes__videos {
    flex-direction: column;
    gap: 15px;
  }
  .tunes__video {
    width: 280px;
    height: 157.5px;
  }
  .tunes__title {
    font-size: 1.75rem;
    margin-bottom: 15px;
  }
  .tunes__description {
    font-size: 0.7em;
    margin-bottom: 25px;
  }
}
